<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>evuez</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <a href="https://git.k.mulga.net/julien">git</a> /
    <a href="mailto:hello@evuez.net">email</a>
  </header>
  <main>
    {{#sources}}
    <h1>{{name}}</h1>
    <ul>
      {{#pages}}
        <li>
          {{#meta.date}}{{meta.date}} -{{/meta.date}}
          <a href="{{url}}">{{meta.title}}</a>
        </li>
      {{/pages}}
    </ul>
    {{/sources}}
  </main>
</body>
</html>
