name: Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: haskell/actions/setup@v1.2
      name: Setup Haskell Stack
      with:
        ghc-version: "8.10.7"
        stack-version: "2.7.3"

    - name: Clone kiwi
      run: git clone https://github.com/evuez/kiwi.git

    - name: Cache build
      id: cache-build
      uses: actions/cache@v4
      with:
        path: ~/.stack
        key: ${{ runner.os }}-stack-home

    - name: Install kiwi
      run: stack install
      working-directory: ./kiwi

    - name: Generate contents
      run: kiwi

    - name: Publish
      run: |
        rm -r kiwi/
        rm .gitignore
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit --allow-empty --allow-empty-message -m ''
        git push origin HEAD:live --force
      working-directory: ./
